<h1>Listing accountactions</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accountactions.each do |accountaction| %>
  <tr>
    <td><%= accountaction.description %></td>
    <td><%= accountaction.category_id %></td>
    <td><%= link_to 'Show', accountaction %></td>
    <td><%= link_to 'Edit', edit_accountaction_path(accountaction) %></td>
    <td><%= link_to 'Destroy', accountaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accountaction', new_accountaction_path %>
