<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @accountaction.description %>
</p>

<p>
  <b>Category:</b>
  <%= @accountaction.category_id %>
</p>


<%= link_to 'Edit', edit_accountaction_path(@accountaction) %> |
<%= link_to 'Back', accountactions_path %>
