= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :firstname
    %br/
    = f.text_field :firstname
  .field
    = f.label :lastname
    %br/
    = f.text_field :lastname
  .field
    = f.label :street
    %br/
    = f.text_field :street
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :state
    %br/
    = f.text_field :state
  .field
    = f.label :zip
    %br/
    = f.text_field :zip
  .field
    = f.label :account_id
    %br/
    = f.text_field :account_id
  .actions
    = f.submit
