%h1 Listing customers
%table
  %tr
    %th Firstname
    %th Lastname
    %th Street
    %th City
    %th State
    %th Zip
    %th Account
    %th
    %th
    %th
  - @customers.each do |customer|
    %tr
      %td= customer.firstname
      %td= customer.lastname
      %td= customer.street
      %td= customer.city
      %td= customer.state
      %td= customer.zip
      %td= customer.account_id
      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Customer', new_customer_path
