<h1>Listing usereffects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usereffects.each do |usereffect| %>
  <tr>
    <td><%= usereffect.user_id %></td>
    <td><%= usereffect.action_id %></td>
    <td><%= link_to 'Show', usereffect %></td>
    <td><%= link_to 'Edit', edit_usereffect_path(usereffect) %></td>
    <td><%= link_to 'Destroy', usereffect, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usereffect', new_usereffect_path %>
